/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.control-fluid,.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.control-section .control-wrapper {
  width: 80%;
  margin: 0 auto;
  min-width: 185px;
  padding-top: 15px;
}

.e-bigger .control-section .control-wrapper {
  width: 100%;
}

.header {
  font-weight: 600;
  color: rgba(0, 0, 0, .54);
  height: 48px;
  padding: 15px 0 0 16px;
  font-size: 16px;
  background-color: #f5f5f5;
}

.fabric .header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #0078d7;
  font-weight: 400;
}

.bootstrap .header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #777;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 24px;
}

.e-bigger.bootstrap .header {
  line-height: 44px;
  height: 44px;
  font-size: 13px;
}

.highcontrast .header {
  color: #fff;
  background-color: #000;
}

.bootstrap4 .header {
  color: #6c757d;
}
