/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.control-fluid,.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.control-section .control-wrapper {
  width: 80%;
  margin: 0 auto;
  min-width: 185px;
  padding-top: 15px;
}

.e-bigger .control-section .control-wrapper {
  width: 100%;
}

.header {
  font-weight: 600;
  color: rgba(0, 0, 0, .54);
  height: 48px;
  padding: 15px 0 0 16px;
  font-size: 16px;
  background-color: #f5f5f5;
}

.fabric .header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #0078d7;
  font-weight: 400;
}

.bootstrap .header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #777;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 24px;
}

.e-bigger.bootstrap .header {
  line-height: 44px;
  height: 44px;
  font-size: 13px;
}

.highcontrast .header {
  color: #fff;
  background-color: #000;
}

.bootstrap4 .header {
  color: #6c757d;
}

.ename {
  display: block !important;
  font-size: 16px;
  margin-top: 8px;
}

.name {
  padding: 3px 28px;
  line-height: 1.2em;
}

.job {
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 7px;
}

.bootstrap .job {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 7px;
}

.e-bigger.bootstrap .job {
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 7px;
}

.empImage {
  margin: 6px 16px;
  size: 50px;
  float: left;
}

.value {
  border-radius: 50%;
  float: left;
  margin-top: 14px;
  position: relative;
  left: 0px;
  height: 24px;
  width: 24px;
}

.highcontrast .value {
  margin-top: 0px;
}

.highcontrast .name {
  padding: 3px 28px;
}

.bootstrap .value {
  left: -9px;
  height: 28px;
  width: 28px;
  margin-top: 18px;
}

.fabric .value {
  margin-top: 20px;
}

.material .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 30px;
  bottom: 19px;
  position: relative;
  margin-right: -16px;
}

.bootstrap .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 0 0 26px;
  bottom: 23px;
  position: relative;
  margin-right: -24px;
}

.e-bigger .value {
  margin-top: 0px;
  height: 30px;
  width: 30px;
}

.e-bigger.fabric .value {
  margin-top: 2px;
}

.e-bigger.material .value {
  margin-top: 17px;
}

.e-bigger .name {
  padding: 0 0 0 36px;
  bottom: 24px;
  width: 121px;
}

.e-bigger.highcontrast .name {
  padding: 5px 0 0 36px;
  bottom: 24px;
  width: 121px;
}


.fabric .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 3px 30px;
  position: relative;
  bottom: 21px;
  margin-right: -23px;
}

.fabric.e-bigger .name {
  padding: 7px 0 0 32px;
  width: 100%;
  position: relative;
  overflow: initial;
  text-overflow: unset;
  bottom: 0px;
  margin-right: -6px;
}

.bootstrap.e-bigger .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 29px;
  position: relative;
  bottom: 23px;
  margin-right: -24px;
}

.bootstrap.e-bigger .value {
  left: -9px;
  margin-top: 17px;
}

.e-bigger .value {
  position: relative;
}

#template_popup.e-popup .e-list-item * {
  display: block;
  text-indent: 0;
}

.e-bigger #template_popup .e-dropdownbase .e-list-item {
  line-height: 42px;
  height: 80px;
}

.e-bigger #template_popup.e-popup .empImage {
  margin: 10px 16px;
}

.e-multi-select-wrapper .e-chips {
  max-width: 166px;
  overflow: hidden;
}

.e-multi-select-wrapper .e-chips {
  padding: 0 4px 0 0px
}

.e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected {
  padding: 0 0 0 0px;
}

.bootstrap.e-bigger .e-chips.e-mob-chip.e-chip-selected .value {
  left: 0px;
}

.material.e-bigger .name {
  padding: 2px 0 0 36px;
  bottom: 24px;
  width: 100%;
  position: relative;
}

.material.e-bigger .e-chips.e-mob-chip.e-chip-selected .name {
  left: 0px;
  width: 110px;
  position: relative;
}

.fabric .e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .e-chips-close.e-icon {
  left: 0px;
}
.control-content .control-section{
  border-width: 0px !important;
}
.bootstrap4 .value {
  margin-left: -4px;
  height: 22px;
  width: 22px;
  margin-top: 1px;
}

.bootstrap4 .name {
  padding: 3px 22px;
  line-height: 1.5em;
  margin-top: 1px;
}

.bootstrap4 #template_popup.e-popup .empImage {
  margin: 1px 16px;
}

.bootstrap4 #template_popup.e-popup .job {
  margin-top: 0;
}

.e-bigger.bootstrap4 #template_popup.e-popup .job {
  margin-top: -15px;
}

.e-bigger.bootstrap4 .value {
  margin-top: 1px;
  height: 26px;
  width: 26px;
  margin-left: -6px;
}

.bootstrap4.e-bigger .name {
  padding: 0 0 0 25px;
  line-height: 2.0em;
  margin-top: 0px;
}