@model UserRoleModel

@{
    ViewBag.Title = "Change User Role";
    Layout = "_Layout";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

<h4>Change User Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeUserRole" asp-controller="Roles" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />
            <div class="form-group">
                <label asp-for="UserRoles" class="control-label"></label>
                <select asp-for="UserRoles" class ="form-control" asp-items="ViewBag.Roles"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Users">Back to List</a>
</div>

</body>
</html>